<div class="row">
  <div class="columns small-12 medium-8 medium-offset-2">
    <h1><%= @chat_room.title %></h1>

    <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
      <%= render @chat_room.messages %>
    </div>

    <%= form_for @message, url: '#' do |f| %>      
      <%= f.text_area :body, class: 'message-form', autofocus: true, placeholder: 'メッセージ' %>      
    <% end %>
  </div>
</div>