<h3>Welcome to the group: <%= @group.name %></h3>

<hr>

<div class="callout">
  <%= simple_form_for @post, url: group_posts_path(@group), method: :post do |f| %>
    <%= f.input :content, label: false, placeholder: '投稿内容', input_html: {rows: 5} %>
    <%= f.simple_fields_for :post_images do |p| %>
      <%= p.input :photo, label: false, input_html: { multiple: true, name: "post_images[photo][]" } %>
    <% end %>

    <%= f.submit "投稿", class: 'button' %>
  <% end %>
</div>

<div id="join-group">
  <%= render partial: "groups/join", locals: { group: @group } %>
</div>

<% if current_user.joined?(@group) %>
  <%= link_to "View posts", group_posts_path(@group) %>
<% end %>