<%= link_to user_path(user) do %>
	<div class="user-list user-list-suggestions">
		<div class="user-details">
			<span class="user-image">
				<%= image_tag user.photo, alt: user.name %>	
			</span>

			<div class="user-info">
				<span class="display-name">
					<%= user.display_name %>
				</span>

				<ul>
					<li><strong>友達</strong> <%= user.friends.count %>人</li>
				</ul>
			</div><!-- user-info -->
		</div>

		<div class="user-tags">
			<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :area).visible? %>
				<span class="label secondary"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.area %></span>
			<% end %>

			<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :cancer_type).visible? %>
				<span class="label secondary"><%= user.cancer_type %></span>
			<% end %>

			<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :cancer_stage).visible? %>
				<span class="label secondary"><%= user.cancer_stage %></span>
			<% end %>

			<span class="label secondary"><%= user.gender_icon %></span>
		</div>
		

	</div>

<% end %>