<%= link_to user_path(user) do %>
	<div class="user-list">
		<div class="display-name">
			<h5><%= user.display_name %></h5>
		</div>

		<div class="user-info">
			<ul>
				<li><strong>友達</strong> <%= user.friends.count %>人</li>
			</ul>
		</div>

		<% if user.show_area %>
			<span class="label secondary"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.area %></span>
		<% end %>

		<% if user.show_cancer_type %>
			<span class="label secondary"><%= user.cancer_type %></span>
		<% end %>

		<% if user.show_cancer_stage %>
			<span class="label secondary"><%= user.cancer_stage %></span>
		<% end %>

		<span class="label secondary"><%= user.gender_icon %></span>
		

	</div>

<% end %>