<div class="user-list">
	<div class="display-name">
		<h5><%= user.display_name %></h5>
	</div>

	<div class="user-info">
		<ul>
			<li><strong>フォロー</strong> 100人</li>
			<li><strong>フォロワー</strong> 1023人</li>
		</ul>
	</div>

	<span class="label"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.area %></span>
	<span class="label"><%= user.cancer_type %></span>
	<span class="label"><%= user.cancer_stage %></span>
	<span class="label"><%= user.gender_icon %></span>
	

</div>