<div class="row">
	<div class="columns medium-3 small-12">
		<div class="callout callout-user-info">
			<div class="row">
				<div class="columns medium-5 small-12">
					<div class="user-image-lg">
						<%= image_tag @user.photo %>
					</div>
				</div>

				<div class="columns medium-7 small-12">
					
					<div class="name"><%= @user.decorate.display_name %></div>
					
					<% if @user.nickname.present? %>
						<div class="nickname"><%= @user.nickname %></div>
					<% end %>

				</div>
			</div><!-- row -->

			<div class="user-tags">
				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :area).visible? %>
					<span class="label secondary"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.area %></span>
				<% end %>

				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :profession).visible? %>
					<span class="label secondary"><%= @user.profession %></span>
				<% end %>

				<%= @user.gender_icon %>
			</div>

			<hr />

			<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :problems).visible? %>
				<p><%= @user.problems %></p>

				<hr />
			<% end %>


			<% if @user != current_user %>
				<div class="row">
					<div class="columns medium-6 small-12">
						<span id="request">
							<%= render partial: 'shared/request_send_buttons.html.erb', locals: {user: @user}  %>
						</span>

						<span id="pending_request">
							<%= render partial: 'shared/request_accept_buttons.html.erb', locals: {user: @user} %>
						</span>
					</div>

					<div class="columns medium-6 small-12">
						<%= link_to 'メッセージ', '', class: 'button expanded small secondary' %>
					</div><!-- columns -->
				</div><!-- row -->
			<% end %>
			
		</div><!-- callout -->

		<div class="callout">
			<div id="friend_list">
				<%= render partial: 'shared/friend_list.html.erb', locals: {user: @user} %>
			</div>
		</div>

		<div class="callout">
			<h6 class="user-header">パートナー（患者）に関する情報</h6>

			<hr />

			<ul class="partner-info no-bullet">
				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :partner_age).visible? %>
					<li><strong>年齢</strong> <%= @user.partner_age %></li>
				<% end %>

				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :cancer_stage).visible? %>
					<li><strong>癌ステージ</strong> <%= @user.cancer_stage %></li>
				<% end %>

				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :cancer_type).visible? %>
					<li><strong>癌種目</strong> <%= @user.cancer_type %></li>
				<% end %>

				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :hospital).visible? %>
					<li><strong>病院名</strong> <%= @user.hospital %></li>
				<% end %>

				<% if UserAttributesVisibilityPolicy.new(user: @user, current_user: current_user, attribute: :treatment).visible? %>
					<li><strong>治療内容</strong> <%= @user.treatment %></li>
				<% end %>
			</ul>
			
		</div><!-- callout -->
	</div><!-- columns -->

	<div class="columns medium-9 small-12">
		<h6><%= link_to 'タイムラインに戻る', user_path(@user), class: 'button small' %></h6>
		<h5><%= @user.display_name %>の友達 <span class="friend-count"><%= @user.friends.count %>人</h5>

		<%= render partial: 'users/user', collection: @friends %>
	</div><!-- columns -->


</div><!-- row -->

