<h1> <%= @user.first_name %>'s Profile </h1>

<% if @user != current_user %>
 <% if current_user.friends.exists?(@user) %>
     <%= link_to 'Remove Friend', user_friend_friendship_path(@user.id), method: 'delete' %>
 <% elsif !current_user.pending_friends.exists?(@user) %>
     <%= link_to 'Send Request', user_friend_requests_path(@user.id), method: 'post' %>
 <% elsif current_user.pending_friends.exists?(@user) %>
     <%= link_to 'Cancle Request', user_friend_request_path(@user.id,@user.id), method: 'delete' %>
 <% end %>
<% end %>
 
<% if @user == current_user %> 
<h2> Pending Requests </h2>
   <% if current_user.requested_friends.any? %>
      <% current_user.requested_friends.each do |friend| %>
        <h3> <%= friend.first_name %> </h3>
        <%= link_to 'Accept', user_friend_request_acceptances_path(friend.id), method: 'post' %>
        <%= link_to 'Decline', user_friend_request_acceptance_path(friend.id), method: 'delete' %>
      <% end %>
   <% else %>
        <text> No pending requests </text>
   <% end %>
<% end %>

<h2> Friends </h2>
   <% if @user.friends.any?  %>
      <% @user.friends.each do |friend| %>
        <h3> <%= friend.first_name %> </h3>
         <% if @user==current_user %> <%= link_to 'Remove', user_friend_friendship_path(friend.id), method: 'delete' %> <% end %>
      <% end %>
   <% else %>
        <text> This user has no friends </text>   
   <% end %>


