<div class="callout">
	<div class="post-container">	
		<% if post.user.id == current_user.id %>
			<a data-toggle="post-options-dropdown-<%=post.id %>" class="float-right">
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
			<div class="dropdown-pane bottom right" id="post-options-dropdown-<%=post.id %>" data-dropdown data-hover="true" data-hover-pane="true">
			  <ul class="post-options-menu no-bullet">
			  	<a class="edit-post" data-id="<%= post.id %>"><li><i class='fa fa-pencil' aria-hidden='true'></i> 編集</li></a>				  
				  <%= link_to "<li><i class='fa fa-trash' aria-hidden='true'></i> 削除</li>".html_safe, post_path(post), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %>
		    </ul>
			</div>
		<% end %>

		<div class="post-info">
			<span class="user-image">
				<%= image_tag post.user_photo %>
			</span>

			<div class="user-info">
				<span class="display-name">
					<%= link_to post.user.display_name, user_path(post.user) %>
				</span>
				<div class="timestamp">
					<%= time_ago_in_words(post.created_at) %>前
				</div>
			</div><!-- user-info -->
		</div>

		<div class="post-content">
			<p id="post-content-<%= post.id %>"><%= post.content %></p>
		</div>

		<div class="post-images-container">
			<% post.post_images.each do |image| %>
			  <%= image_tag image.photo, class: 'post-image' %>
			<% end %>
		</div>
	
		<div class="post-reactions">
			<span id="post-likes-<%= post.id %>"><%= render partial: "posts/likes", locals: { apost: post } %></span>
			<span id="post-happies-<%= post.id %>"><%= render partial: "posts/happies", locals: { apost: post } %></span>
			<span id="post-sads-<%= post.id %>"><%= render partial: "posts/sads", locals: { apost: post } %> </span> 
		</div>
		
	</div>
</div>