<h2>Edit your post</h2>

<%= simple_form_for @post, :html => { :multipart => true }, method: :patch do |f| %>
  <%= f.input :content %>
  <%= f.simple_fields_for :post_images do |p| %>
    <%= p.input :photo, input_html: { multiple: true, name: "post_images[photo][]" } %>
  <% end %>

  <%= f.submit "Update" %>
<% end %>
