<div class="row">
	<div class="columns medium-6 medium-offset-3 small-12">

		<div class="callout">
			<%= simple_form_for @post do |f| %>
			  <%= f.input :content, label: false, placeholder: '投稿内容', input_html: {rows: 5} %>
			  <%= f.simple_fields_for :post_images do |p| %>
			    <%= p.input :photo, label: false, input_html: { multiple: true, name: "post_images[photo][]" } %>
			  <% end %>

			  <%= f.submit "投稿", class: 'button' %>
			<% end %>
		</div>

		<%= render @posts %> <%# Same as render partial: "post", collection: @posts %>

		<div id="modal"></div>

	</div><!-- columns -->
</div><!-- row -->

<script type="text/javascript">
$(".edit-post").on("click", function(){
	let id = $(this).data("id");	
	let content = $(`#post-content-${id}`).text();

	let html = `<div class="tiny reveal" id="edit-post-modal" data-reveal>
  							<form novalidate="novalidate" class="simple_form edit_post" id="edit_post_${id}" enctype="multipart/form-data" action="/posts/${id}" accept-charset="UTF-8" method="post">
  								<input type="hidden" name="_method" value="patch">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									
									<textarea class="text required" rows="5" name="post[content]" id="post_content">${content}</textarea>

									<input type="submit" name="commit" class="button secondary" value="編集する" data-disable-with="編集する">
								</form>
							</div>`
	console.log(html)

	$("#modal").html(html);
	$('#edit-post-modal').foundation();
	$('#edit-post-modal').foundation('open');
})
	
</script>