<h2>Post id: <%= @post.id %> </h2>

<p><%= @post.content %></p>
<% @post_images.each do |image| %>
  <%= image_tag image.photo %>
<% end %>

<% if @post.user == current_user %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= link_to "Delete Post", post_path(@post), method: :delete %>
<% end %>