<footer class="footer">
	<div class="row">
		<div class="column medium-4 small-12">
			<%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>    
		</div>

		<div class="column medium-8 small-12">
			<ul>
				<li><%= link_to 'お問い合わせ', '' %></li>
				<li><%= link_to '会員規約', '' %></li>
				<li><%= link_to '利用規約', '' %></li>
				<li><%= link_to '個人情報の取り扱いについて', '' %></li>

				<li><%= link_to '個人情報保護方針', '' %></li>
			</ul>
			<p class="float-right">© Cancer Partners <%= Date.current.year %></p>
		</div><!-- column -->
	</div><!-- row -->
</footer>