<div class="title-bar" data-responsive-toggle="top-bar-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="top-bar-menu"></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="top-bar-menu">
  <div class="row">
    <div class="column small-12">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text" id="brand-name"><%= link_to 'がん患者ポータル', root_path %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if user_signed_in? %>
            <li class="menu-text"><%= link_to 'ユーザー検索', users_path %></li>            
            <li class="menu-text"><%= link_to 'タイムライン', '' %></li>
            <li class="menu-text"><%= link_to '友達', '' %></li>
            <li class="menu-text"><%= link_to 'グループ', '' %></li>
            <li class="menu-text"><%= link_to 'メッセージ', '' %></li>
            <li class="menu-text"><%= link_to '設定', edit_user_registration_path %></li>
            <li class="menu-text"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="menu-text"><%= link_to '無料会員登録', new_user_registration_path %></li>
            <li class="menu-text"><%= link_to 'ログイン', new_user_session_path %></li>            
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>