<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "がん患者のためのポータルサイト" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>

  <body>    
    <%= render 'layouts/nav' %>

    <div class="row">
      <div class="column small-12">
        <div class="container">
          <%= yield %>
        </div>
      </div><!-- columns small-12 -->
    </div><!-- row -->

    <%= render 'layouts/footer' %>

  </body>
</html>
