<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Cancer Partners | がん患者を支えるパートナーのSNS" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" />

    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <div class="body-content">
      <div class="row">
        <div class="columns small-12">
          <div class="container">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div><!-- columns small-12 -->
      </div><!-- row -->
    </div>

    <div id="modal"></div>    

    <%= render 'layouts/footer' %>
    
  </body>
</html>
